# .gitignore
ssl/
node_modules/

npm-debug.log
yarn-debug.log
yarn-error.log

analyzers/
dist/
build/analyzers/
build/assets/
build/dist/
build/server/
build/dlls/
webpack/dlls/
coverage/
api/**/*.nedb

*.DS_Store
*.awcache
._*
*.log
*.iml
.env
.crt
.pem
.dll
.exe
.bin
.dat
.csv
.txt
.rtf
.pdf
*.pid
*.seed
*.pid.lock
.nyc_output
/.vscode
.idea/
*.sublime-workspace
*.report.html
.yarn-integrity
.yarnclean
.yarncleanX
