// -------------------------------------------------------------
// GLOBAL COLORS
// -------------------------------------------------------------

.color-ivory {
  color: #fffff0;
}

.color-yellow {
  color: #ff0;
}

.color-purple {
  color: #9b30ff;
}

.color-olive {
  color: #808000;
}

.color-crimson {
  color: #dc143c;
}

.color-gold {
  color: #ffd700;
}

.color-lightblue {
  color: #bfefff;
}

.color-lavender {
  color: #e6e6fa;
}

.color-turquoise {
  color: #00f5ff;
}

.color-springgreen {
  color: #00ee76;
}

.color-azure {
  color: #f0ffff;
}

.color-darkgray {
  color: #a9a9a9;
}

.color-salmon {
  color: #ff8c69;
}

.color-orangered {
  color: #ff4500;
}
