// -------------------------------------------------------------
// GLOBAL BACKGROUNDS
// -------------------------------------------------------------

.bg-color-ivory {
  background-color: #fffff0;
}

.bg-color-yellow {
  background-color: #ff0;
}

.bg-color-purple {
  background-color: #9b30ff;
}

.bg-color-slategray {
  background-color: #c6e2ff;
}

.bg-color-olivedrab-2 {
  background-color: #b3ee3a;
}

.bg-color-mediumorchid-1 {
  background-color: #e066ff;
}

.bg-color-turquoise-1 {
  background-color: #00f5ff;
}

.bg-color-darkgoldenrod-1 {
  background-color: #ffb90f;
}

.bg-color-lightcoral {
  background-color: #f08080;
}

.bg-color-mediumspringgreen {
  background-color: #00fa9a;
}

.bg-color-plum {
  background-color: #dda0dd;
}

.bg-color-banana {
  background-color: #e3cf57;
}

.bg-color-cadetblue {
  background-color: #8ee5ee;
}
