// -----------------------------------------------------
// ---------------- SHARED APP VARIABLES ---------------
// -----------------------------------------------------

$font-size-browser-default: 16px !default;

$footer-height: 100px !default;

// $footer-margin-top: 15px !default;

$color-cornflowerblue: #6495ed !default;

$color-cadmiumorange: #ff6103 !default;

$font-assets-url-path: '../fonts';

$shared-var-color-syracuse-orange: #f37321 !default;

$shared-var-color-rutgers-scarletx: #ee363d !default;

// Rutgers Scarlet
// #0e1112
// #ffffff
// #ee363d

// Cornell Big Red
// #000000
// #ffffff
// #d60027

// Syracuse Orange
// #ffffff
// #f37321
// #002d62
