
.ghostWhite {
  background-color: #f8f8ff;
}

.graySixteen {
  color: #292929;
}

.hrStyle {
  border-top-style: solid;
  border-top-color: #ededed;
  opacity: 0.5;
}

// gray 14  242424
// gray 15  262626
// gray 16  292929
// gray 92  EBEBEB
// gray 89  E3E3E3
// gray 87  DEDEDE
// gray 97  F7F7F7
// gray 93  EDEDED
