
@import '../app/functions.scss';
@import '../app/variables.scss';
@import '../app/fonts.scss';

// ---------------------------------------------

$body-bg: #f7f7f7;
$font-size-base: 0.875rem;
$navbar-dark-color: #c6e2ff;
$dropdown-bg: #f0f8ff;
$navbar-dark-active-color: #00bfff;

// ---------------------------------------------

@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

$btn-primary-bg: adjust-hue(theme-color('primary'), +20deg);
$spacers: map-merge(
(
  0: 0,
  1: ($spacer * 0.25),        // 4px
  2: ($spacer * 0.5),         // 8px
  3: $spacer,                // 16px
  4: ($spacer * 1.5),        // 24px
  5: ($spacer * 3),          // 48px
  6: ($spacer * 4),          // 64px
  7: ($spacer * 5),          // 80px
  8: ($spacer * 6.25),       // 100px
  9: ($spacer * 7.5),        // 120px
  10: ($spacer * 9.375),     // 150px
  11: ($spacer * 12.5),      // 200px
  12: ($spacer * 25)         // 400px
),
  $spacers
);
$dropdown-bg: darken($dropdown-bg, 20%);

@import '~bootstrap/scss/_root.scss';
@import '~bootstrap/scss/_reboot.scss';
@import '~bootstrap/scss/_type.scss';
@import '~bootstrap/scss/_images.scss';
@import '~bootstrap/scss/_code.scss';
@import '~bootstrap/scss/_grid.scss';
@import '~bootstrap/scss/_tables.scss';
@import '~bootstrap/scss/_forms.scss';
@import '~bootstrap/scss/_buttons.scss';
@import '~bootstrap/scss/_transitions.scss';
@import '~bootstrap/scss/_dropdown.scss';
@import '~bootstrap/scss/_button-group.scss';
@import '~bootstrap/scss/_input-group.scss';
@import '~bootstrap/scss/_custom-forms.scss';
@import '~bootstrap/scss/_nav.scss';
@import '~bootstrap/scss/_navbar.scss';
@import '~bootstrap/scss/_card.scss';
// @import '~bootstrap/scss/_breadcrumb.scss';
// @import '~bootstrap/scss/_pagination.scss';
@import '~bootstrap/scss/_badge.scss';
// @import '~bootstrap/scss/_jumbotron.scss';
@import '~bootstrap/scss/_alert.scss';
// @import '~bootstrap/scss/_progress.scss';
// @import '~bootstrap/scss/_media.scss';
@import '~bootstrap/scss/_list-group.scss';
@import '~bootstrap/scss/_close.scss';
// @import '~bootstrap/scss/_toasts.scss';
@import '~bootstrap/scss/_modal.scss';
@import '~bootstrap/scss/_tooltip.scss';
@import '~bootstrap/scss/_popover.scss';
// @import '~bootstrap/scss/_carousel.scss';
@import '~bootstrap/scss/_spinners.scss';
@import '~bootstrap/scss/_utilities.scss';
// @import '~bootstrap/scss/_print.scss';

// ---------------------------------------------

$fa-font-path : '~@fortawesome/fontawesome-free/webfonts';
$fa-font-path-modified : '../fontAwesome';
$fa-font-size-base:    16px !default;
$fa-font-display:      auto !default;
$fa-css-prefix:        fa !default;
$fa-version:           '5.10.2' !default;
$fa-border-color:      #eee !default;
$fa-inverse:           #fff !default;
$fa-li-width:          2em !default;
$fa-fw-width:          (20em / 16);
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: 0.4 !default;

// Convenience function used to set content property

@function fa-content($fa-var) {
  @return unquote('\'#{ $fa-var }\'');
}

$fa-var-500px: \f26e;
$fa-var-headphones: \f025;
$fa-var-headphones-alt: \f58f;
$fa-var-sign-in-alt: \f2f6;
$fa-var-sign-out-alt: \f2f5;
// $fa-var-facebook: \f09a;
// $fa-var-facebook-f: \f39e;
// $fa-var-facebook-messenger: \f39f;
$fa-var-facebook-square: \f082;

// ---------------------------------------------

@import '~@fortawesome/fontawesome-free/scss/mixins';
@import '~@fortawesome/fontawesome-free/scss/core';
@import '~@fortawesome/fontawesome-free/scss/fixed-width';

.#{$fa-css-prefix}-500px:before { content: fa-content($fa-var-500px); }
.#{$fa-css-prefix}-headphones:before { content: fa-content($fa-var-headphones); }
.#{$fa-css-prefix}-headphones-alt:before { content: fa-content($fa-var-headphones-alt); }
.#{$fa-css-prefix}-sign-in-alt:before { content: fa-content($fa-var-sign-in-alt); }
.#{$fa-css-prefix}-sign-out-alt:before { content: fa-content($fa-var-sign-out-alt); }
// .#{$fa-css-prefix}-facebook:before { content: fa-content($fa-var-facebook); }
// .#{$fa-css-prefix}-facebook-f:before { content: fa-content($fa-var-facebook-f); }
// .#{$fa-css-prefix}-facebook-messenger:before { content: fa-content($fa-var-facebook-messenger); }
.#{$fa-css-prefix}-facebook-square:before { content: fa-content($fa-var-facebook-square); }

// ---------------------------------------------

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: $fa-font-display;
  src: url('#{$fa-font-path}/fa-brands-400.woff2') format('woff2');
}

.fab {
  /* stylelint-disable-next-line */
  font-family: 'Font Awesome 5 Brands';
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: $fa-font-display;
  src: url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2');
}

.fa,
.fas {
  /* stylelint-disable-next-line */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

// ---------------------------------------------

@import '../app/mixins.scss';
@import '../app/app.scss';
