@import '../../sharedresources.scss';

.loading::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
}

@keyframes ellipsis {

  to {
    width: 20px;
  }
}

.one {
  opacity: 10;
  animation: dot 1.3s infinite;
  animation-delay: 0s;
}

.two {
  opacity: 10;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}

.three {
  opacity: 10;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}

@keyframes dot {

  0% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}
