
.colorPurpleCssLocal {
  color: #9b30ff;
}

.colorOliveCssLocal {
  color: #808000;
}

.colorCrimsonCssLocal {
  color: #dc143c;
}

.colorOrchidCssLocal {
  color: #ff83fa;
}

.colorGreenyellowCssLocal {
  color: #adff2f;
}
